resources/**/*.webp filter=lfs diff=lfs merge=lfs -text
resources/**/*.png filter=lfs diff=lfs merge=lfs -text
resources/**/*.moc3 filter=lfs diff=lfs merge=lfs -text
resources/**/*.ckpt filter=lfs diff=lfs merge=lfs -text
resources/**/*.pth filter=lfs diff=lfs merge=lfs -text
resources/**/*.wav filter=lfs diff=lfs merge=lfs -text
